<article>
 <p class="thumb">
  <%= link_to(
        image_tag(entry.photo.url(:thumb), alt: entry.id, rel: 'photo'),
        entry.photo.url) %>
 </p>
 <p class="tags">
  <% entry.tags.each do |tag| %>
   <%= link_to(tag.name, tag) %>
  <% end %>
 </p>
 <p class="body"><%= entry.body %></p>
 <p class="meta">
  <%= time(entry.created_at, time_ago_in_words(entry.created_at), pubdate: true) %>
 </p>
</article>
