<section id="tags">
 <h1><%= t('tags') %></h1>
<%= nav class: 'tag-cloud' do %>
<% Idol.all.each do |idol| %>
<%= link_to(idol.name, 
            acts_as_taggable_on_tag_path(idol.name),
            class: 'tag %s' % idol.romaji) %>
<% end %>
<%= link_to('あみまみ', 
            acts_as_taggable_on_tag_path('亜美 真美', any: 1),
            class: 'tag ami mami') %>
<% end %>
</section>
