<!--
TODO:
 フィード
 D&Dでアップロード
 トップページをキャッシュ
 ファビコン
 複数タグで検索
 いいね！系
やった:
 スマートフォン
 画像の並び
 autopagerize
-->
<div id="form-container">
 <p><%= link_to('アップロードする', [:new, :entry], id: 'open-form', class: 'button') %></p>
 <%= render 'form' %>
</div>

<%= render 'entries/entries', entries: @entries %>
