<div id="form-container">
 <p><%= link_to('アップロードする', [:new, :entry], id: 'open-form', class: 'button') %></p>
 <%= render 'form' %>
</div>

<%= render 'tags', tags: @tags if @tags %>

<%= render 'entries/entries', entries: @entries %>
