<!--
TODO:
 フィード
 スマートフォン
 D&Dでアップロード
 トップページをキャッシュ
 ファビコン
やった:
 画像の並び
-->
<div id="form-container">
 <p><%= link_to('アップロードする', [:new, :entry], id: 'open-form', class: 'button') %></p>
 <%= render 'form' %>
</div>

<%= render 'entries/entries', entries: @entries %>
