<!--
TODO:
 D&Dでアップロード
 複数タグで検索
やった:
 ファビコン
 画像の遅延ロード
 トップページをキャッシュ
 いいね！系
 フィード
 スマートフォン
 画像の並び
 autopagerize
-->
<% if ps3? %>
 <h2>アップロードする</h2>
 <%= render 'form' %>
<% else %>
<div id="form-container">
 <p><%= link_to('アップロードする', [:new, :entry], id: 'open-form', class: 'button') %></p>
 <%= render 'form' %>
</div>
<% end %>

<%= render 'entries/entries', entries: @entries %>
