<p>
 <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, tag, :class => css_class %>
 <% end %>
</p>
<p><%= link_to 'new', new_entry_path %></p>
<% @entries.each do |entry| %>
 <%= render entry %>
<% end %>
<%= paginate @entries %>
