<section class="share">
<p>
 <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="ja">ツイート</a>
</p>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</section>
