$grid-width: 30px;
$grid-margin: 10px;
$font-color:     #333333 !default;
$quiet-color:    lighten($font-color, 20%) !default;
$loud-color:     darken($font-color, 13.33%) !default;
$header-color:   darken($font-color, 6.67%) !default;
$background-color: #eeeeee !default;
$border-color: #ddd !default;

$link-color:         #06c                  !default;
$link-hover-color:   #09f                  !default;
$link-focus-color:   $link-hover-color     !default;
$link-active-color:  lighten(adjust-hue($link-color, 75deg), 10%) !default;
$link-visited-color: darken($link-color, 10%) !default;

@function span($n) {
  @return $grid-width * $n + $grid-margin * ($n - 1);
}

@mixin transform($value) {
  transform: $value;
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
}

@mixin clearfix {
  &:after {
    content: ""; 
    display: block; 
    clear: both;
  }
}
