$haruka-color: rgb(224,48,50);
$chihaya-color: rgb(41,71,206);
$yukiho-color: rgb(214,223,235);
$yayoi-color: rgb(243,155,59);
$ritsuko-color: rgb(1,170,96);
$azusa-color: rgb(148,58,189);
$iori-color: rgb(253,155,224);
$makoto-color: rgb(84,87,90);
$ami-color: rgb(255,229,66);
$mami-color: rgb(253,226,64);
$miki-color: rgb(180,222,74);
$hibiki-color: rgb(0,173,183);
$takane-color: rgb(166,18,105);
// 876
$ai-color: rgb(255,200,208);
