// -*- css -*-

$thumb-width: 320px;

article {
  width: 640px;
  margin: 2em auto;
  .thumb {
    float: left;
    width: $thumb-width;
    text-align: center;
    outline: solid fuchsia 1px;
    img {
      vertical-align: top;
    }
  }
  .tags a {
    color: #888;
  }
  .body, .tags {
    margin-left: 10px + $thumb-width;
  }
  footer {
    clear: left;
  }
  /* comment */
  article {
    padding-left: 2em;
  }
}

form {
  dt {
    float: left;
    width: 10em;
    clear: left;
  }
  dd { margin-bottom: 1em; }
  .buttons { text-align: center; }
}
