// -*- css -*-

@import "common";

$thumb-width: 320px;

.entries {
  margin: $grid-margin/2;
  clear: both;
  @include clearfix;
  article, .article {
    float: left;
    width: 320px;
    height: 240px;
    overflow: hidden;
    position: relative;
    margin: $grid-margin/2;
    .thumb img {
      width: 320px;
      height: 180px;
      vertical-align: top;
    }
    footer, .footer {
      width: 300px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

article, .article {
  background-color: white;
  width: 320px;
  height: 240px;
  overflow: hidden;
  position: relative;
  margin: $grid-margin/2;
  .thumb img {
    width: 320px;
    height: 180px;
    vertical-align: top;
  }
  .body {
    margin: 5px;
    font-size: 12px;
  }
  footer, .footer {
    margin: 5px;
    font-size: 12px;
    text-align: right;
  }
}

form {
  width: span(18);
  margin: auto;
  table {
    width: 100%;
    th {
      min-width: 6em;
    }
  }
  .buttons { text-align: center; }
}
.errorExplanation {
  background-color: #efd0d0;
}

.pagination {
  clear: both;
  text-align: center;
  .first, .last, .prev, .next, .page {
    min-width: 22px;
    margin: 0 5px;
  }
}
