/* -*- css -*- */
@media screen and (max-width: 320px) {
  body {
    margin: 0;
    padding: 0;
  }
  .entries {
    margin: 10px 0;
    article {
      display: block;
      margin: 10px 0;
    }
  }
  form {
    width: auto;
  }
  #form-container {
    display: none;
  }
  .pagination a {
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em 0;
    background: #ccc;
  }
}
