// -*- css -*-

$side-margin: 20px;

body {
  color: black;
  background: white;
  line-height: 1.8;
  margin: 0 $side-margin;
}

h1 {
  font-weight: normal;
  font-family: "Segoe UI" "Yu Gothic" sans-serif;
  font-size: 120px;
  line-height: 100%;
  vertical-align: top;
  margin: 0.3em (-$side-margin) 0.5em;
}

button, input[type=submit], input[type=button] {
  border: solid 2px;
  background: inherit;
  color: inherit;
  &:hover {
  }
  &:active {
  }
}

a img {
  border: none;
}
