<!DOCTYPE html>
<html>
<head>
  <title>G4Up</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
</head>
<body id="fullscreen">
<%= yield %>
</body>
</html>
